@using System.Web.Mvc.Html;
@using DirectDebits.ViewModels.Settings

@model ReadExactConfigViewModel

<div class="modal fade" tabindex="-1" role="dialog" id="exact-config-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Exact Configuration</h4>
            </div>
            @using (Html.BeginForm("UpdateExactConfig", "Settings", "POST"))
            {
                <div class="modal-body">
                    <ol>
                        <li>@Html.LabelFor(x => x.BankJournalCode)<input type="text" name="BankJournalCode" value="@Model.BankJournalCode" autocomplete="off" /></li>
                        <li>@Html.LabelFor(x => x.TradeJournalCode)<input type="text" name="TradeJournalCode" value="@Model.TradeJournalCode" autocomplete="off" /></li>
                        <li>@Html.LabelFor(x => x.BankGlCode)<input type="text" name="BankGlCode" value="@Model.BankGlCode" autocomplete="off" /></li>
                        <li>@Html.LabelFor(x => x.TradeGlCode)<input type="text" name="TradeGlCode" value="@Model.TradeGlCode" autocomplete="off" /></li>
                        <li>
                            @Html.LabelFor(x => x.ClassificationFilterId)
                            @Html.DropDownListFor(x => x.ClassificationFilterId, Model.ClassificationSelector)
                         </li>
 
                     </ol>
 
                 </div>
 
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Save"/>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
